html {min-height:100%;position:relative}
body{
    height:100%;
    margin: 0px;
    overflow: hidden;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.sp-dd {
  display: none;
}
.sp-replacer {
    margin:0;
    padding: 0px;
    border: 0px;
}
.sp-preview {
    border: solid 1px;
    margin-right: 0px;
}
.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
